
.container {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    align-items: center;
    margin: 1rem 0;
}

.container h2 {
   color: #f7f7f7;
   margin: 1rem;
}

.container form {
    width: 100%;
    max-width: 90%;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    padding: 20px;
}

.container div {
    margin-bottom: 1rem;
}

.container label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.container input, .container select {
    background-color: #f7f7f7;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    outline: none;
}

.container button {
   padding: 14px 28px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   font-size: 1.125rem;
   font-weight: 600;
   color: #f7f7f7;
   background-color: #b71c1c;
}

.container button:hover {
    background-color: #f44336;
    color: #000;
}
