.footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100%;
    padding-block: 0.5rem;
    border-top: 2px solid #f44336;
}

.footer h2 {
    font-weight: 500;
    color: #f7f7f7;
    
    
}