.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100%;
    border-top: 2px solid #f44336;
    padding-block: .2rem;
    color: #f7f7f7;
    
}

.footer h2 {
    font-weight: 500;
    font-size: 1.2rem;
    padding-block: 1.1rem;
    
}

@media (max-width: 480px) {
    .footer h2 {
        font-size: 0.8rem;
    }
}

